/* FORMAT OF WEBPAGE START */
body
{
	width: 100%;
    margin: 0;
}

@media screen and (min-width: 500px) {
   body {
      width:420px;
   }
}

@media screen and (min-width: 800px) {
   body {
      width:720px;
   }
}

/* BLUE BAR AT TOP */
#top-blue-bar {
    position: sticky;
    padding-top: 9px;
    background-color: #9ac5dd;
    width: 1920px;
    /* height: 39px; */
    bottom: 900px;
    margin: auto;
				}


/* ON CENTER SOFTWARE IMAGE/LINK */
#topleft {
    height: 37px;
    width: 172px;
				}

/* SIDE IMAGES */
#bg1 {
		position: absolute;
		top: 335px;
		width: 620px;
		left: 1300px;
		}

#bg2 {
		position: absolute;
		top: 335px;
		width: 620px;
		left: 700px;
		}


/* GREY BOXES IN MIDDLE */
#grey {
		position: absolute;
		top: 215px;
		overflow: hidden;
		margin:0;
		width: 1920px;
		height: 585px;
		margin:auto;
		}

#lightgrey {
		position: absolute;
		top: 215px;
		height: 585px;
		width: 700px;
		left: 0px;
		margin: auto;
		}

/* FORMAT OF WEBPAGE END*/



/* REGULAR TEXTS IN LIGHT GREY BOX START */

#downloadtxt {
				position: absolute;
				margin: 0;
				font-weight: 2px;
				top: 220px;
				left: 100px;
				color: #777777;
				font-family: arial;
				font-size: 25px;
				overflow: hidden;
				}

#ruploadtxt {
				position: absolute;
				margin: 0;
				font-weight: 2px;
				top: 360px;
				left: 100px;
				color: #777777;
				font-family: arial;
				font-size: 25px;
				overflow: hidden;
				}

#auploadtxt {
				position: absolute;
				margin: 0;
				font-weight: 2px;
				top: 500px;
				left: 100px;
				color: #777777;
				font-family: arial;
				font-size: 25px;
				overflow: hidden;
				}

/* REGULAR TEXTS IN LIGHT GREY BOX END */



/* BUTTONS WITHIN LIGHT GREY TEXT START */



/* DOWNLOAD BUTTONS START */

/* DOWNLOAD TIF BUTTON */
.dinput-label {
				position: absolute;
				margin: 0;
				top: 250px;
				left: 100px;
				width: 160px;
				height: 50px;
				padding: 5px;
				color: white;
				background-color: #007bc3;
				border-radius:8px;
				cursor: pointer;
				font-family: Calibri;
				font-size: 15px;
				overflow: hidden;
				text-align: center;
				vertical-align: middle;
				}
.dinput-label:hover {
				background-color: #008ae6;
				cursor: pointer;
				}

/* Download XML BUTTON*/
.dcustom-submit {
				position: absolute;
				margin: 0;
				top: 300px;
				left: 100px;
				width: 160px;
				height: 50px;
				padding: 5px;
				color: white;
				background-color: #007bc3;
				border-radius: 8px;
				cursor: pointer;
				font-family: Calibri;
				font-size: 15px;
				vertical-align: middle;
				text-align: center;
				}
.dcustom-submit:hover {
				background-color: #008ae6;
				cursor: pointer;
				}



#dfile {
	display: none;
	}

/* BUTTONS END */



/* NONANNOTATED BUTTONS START */

/* UPLOAD BUTTON */
.input-label {
				position: absolute;
				margin: 0;
				top: 390px;
				left: 100px;
				width: 140px;
				height: auto;
				padding: 10px;
				color: white;
				background-color: #007bc3;
				border-radius:8px;
				cursor: pointer;
				font-family: Calibri;
				font-size: 20px;
				overflow: hidden;
				text-align: center;
				vertical-align: middle;
				}
.input-label:hover {
				background-color: #008ae6;
				cursor: pointer;
				}
/* SUBMIT BUTTON */
#custom-submit {
				position: absolute;
				margin: 0;
				top: 440px;
				left: 100px;
				width: 160px;
				height: 50px;
				padding: 5px;
				color: white;
				background-color: #007bc3;
				border-radius: 8px;
				cursor: pointer;
				font-family: Calibri;
				font-size: 20px;
				overflow: hidden;
				vertical-align: middle;
				text-align: center;
				}
#custom-submit:hover {
				background-color: #008ae6;
				cursor: pointer;
				}

#file {
	display: none;
	}

/* NONANNOTATED BUTTONS END */



/* ANNOTATED BUTTONS START */

/* UPLOAD BUTTON */
.ainput-label {
				position: absolute;
				margin: 0;
				top: 530px;
				left: 100px;
				width: 140px;
				height: auto;
				padding: 10px;
				color: white;
				background-color: #007bc3;
				border-radius: 8px;
				cursor: pointer;
				font-family: Calibri;
				font-size: 20px;
				overflow: hidden;
				vertical-align: middle;
				text-align: center;
				}
.ainput-label:hover {
				background-color: #008ae6;
				cursor: pointer;
				}

/* SUBMIT BUTTON */
#acustom-submit {
				position: absolute;
				margin: 0;
				top: 580px;
				left: 100px;
				width: 160px;
				height: 50px;
				padding: 5px;
				color: white;
				background-color: #007bc3;
				border-radius: 8px;
				cursor: pointer;
				font-family: Calibri;
				font-size: 20px;
				overflow: hidden;
				vertical-align: middle;
				text-align: center;
				}
#acustom-submit:hover {
				background-color: #008ae6;
				cursor: pointer;
				}

#afile {
	display: none;
	}

/* ANNOTATED BUTTONS END */



/* BUTTONS WITHIN LIGHT GREY TEXT END */
/* Dropdown XML Type Button */
.dropbtn {
    background-color: #007bc3;
		top: 300px;
		left: 100px;
		width: 160px;
		height: 50px;
		color: white;
    padding: 16px;
    font-size: 16px;
		border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #008ae6;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content form {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content form:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
